<% provide(:page_title, @search.text) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @search.text %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @search.zip %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @search.slug %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
