<!DOCTYPE html>
<html>
<head>
  <title>Recycling App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>
        $("#click").click(function() {
            $('html, body').animate({
                scrollTop: $("#bins").offset().top
            }, 2000);
        });
    </script>
</head>
<body id="page-top" style="background-color: #77C9D4">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">tl;dr website</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll search-btn">Search</a>
                    </li>
                    <li>
                        <a class="page-scroll bins-btn">Bins</a>
                    </li>
                    <li>
                        <a class="page-scroll locations-btn">Locations</a>
                    </li>
                    <li>
                        <a class="page-scroll learn-btn">Learn</a>
                    </li>
                    <li>
                        <a class="page-scroll about-btn">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">What do you want to recycle?</h1>
                <br>
                <form>
                    <input type="text" id="query" name="search" value = "" placeholder="Search..">
                </form>
                <br>
                <a href="#bins" class="btn btn-primary btn-xl page-scroll" id="clicks">Search</a>
            </div>
        </div>
    </header>
    <section class="no-padding" id="bins">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery" style="padding-top: 50px">
                <!-- PLASTICS  -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/1_.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-plastic">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="item-overlay">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Plastics
                                </div>
                                <div class="project-name">
                                    <% @plastic_examples.each do |plastic_example| %>
                                        <span data-item-bin="<%= plastic_example.bin %>" data-item-id="<%= plastic_example.item_id %>"><%= plastic_example.name %><%= "," unless plastic_example == @plastic_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- PAPER + CARDBOARD -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/2_.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                             <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-paper">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="item-overlay">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Paper and Cardboard
                                </div>
                                <div class="project-name">
                                    <% @papers_examples.each do |papers_example| %>
                                        <span data-item-bin="<%= papers_example.bin %>" data-item-id="<%= papers_example.item_id %>"><%= papers_example.name %><%= "," unless papers_example == @papers_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- GLASS -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-glass">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="item-overlay">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Glass
                                </div>
                                <div class="project-name">
                                    <div class="popup" onclick="myFunction()">
                                        <% @glass_examples.each do |glass_example| %>
                                        <span data-item-bin="<%= glass_example.bin %>" data-item-id="<%= glass_example.item_id %>"><%= glass_example.name %><%= "," unless glass_example == @glass_examples.last %></span>
                                        <span class="popuptext" id="myPopup"><img src="images/items/chemicals/paint.jpg" class="img-responsive">
                                        </span>
                                        <% end %>
                                    </div>
                    
                                    <script>
                                    // When the user clicks on div, open the popup
                                    function myFunction() {
                                        var popup = document.getElementById("myPopup");
                                        popup.classList.toggle("show");
                                    }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- ALUMINUM AND METAL -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-metal">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Aluminum and Metals
                                </div>
                                <div class="project-name">
                                    <% @metals_examples.each do |metals_example| %>
                                        <span data-item-bin="<%= metals_example.bin %>" data-item-id="<%= metals_example.item_id %>"><%= metals_example.name %><%= "," unless metals_example == @metals_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- CHEMICALS AND OIL -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-oil">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Chemicals and Oils
                                </div>
                                <div class="project-name">
                                    
                                    Some chemicals and some oils
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- HAZARDOUS -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-hazard">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Hazardous
                                </div>
                                <div class="project-name">
                                    <% @hazardous_examples.each do |hazardous_example| %>
                                        <span data-item-bin="<%= hazardous_example.bin %>" data-item-id="<%= hazardous_example.item_id %>"><%= hazardous_example.name %><%= "," unless hazardous_example == @hazardous_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- E-WASTE + BATTERIES + LIGHTS -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/7.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-ewaste">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                                
                            </div>
                            <!-- <div class="item-info-box" id="item-info-box-show" style="opacity: 0">
                            </div> -->
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    E-waste, batteries, and lights
                                </div>
                                <div class="project-name">
                                    <!-- TESTING MAKING ITEM SHOW NEW BOX -->
                                    <% @electronics_examples.join(",") %>
                                    <% @electronics_examples.each do |electronics_example| %>
                                        <span data-item-bin="<%= electronics_example.bin %>" data-item-id="<%= electronics_example.item_id %>"><%= electronics_example.name %><%= "," unless electronics_example == @electronics_examples.last %></span>
                                    <% end %> 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- ORGANIC -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/8.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-organic">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                           <!--  <div class="info-box" id="info-box-show" style="opacity: 0">
                            </div> -->
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Organic
                                </div>
                                <div class="project-name">
                                    <% @organic_examples.each do |organic_example| %>
                                        <span data-item-bin="<%= organic_example.bin %>" data-item-id="<%= organic_example.item_id %>"><%= organic_example.name %><%= "," unless organic_example == @organic_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- BULK -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/9.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-bulk">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <!-- 
                            <div class="info-icon" onclick="showBigSide();">
                                <img src="images/filters/info_icon.png" class="img-responsive"> 
                            </div>
                             -->
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Bulk
                                </div>
                                <div class="project-name">
                                    <% @bulk_examples.each do |bulk_example| %>
                                        <span data-item-bin="<%= bulk_example.bin %>" data-item-id="<%= bulk_example.item_id %>"><%= bulk_example.name %><%= "," unless bulk_example == @bulk_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- pharmaceuticals -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/10.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-pharma">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Pharmaceuticals
                                </div>
                                <div class="project-name">
                                    <% @pharmaceuticals_examples.each do |pharmaceuticals_example| %>
                                        <span data-item-bin="<%= pharmaceuticals_example.bin %>" data-item-id="<%= pharmaceuticals_example.item_id %>"><%= pharmaceuticals_example.name %><%= "," unless pharmaceuticals_example == @pharmaceuticals_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- mixed -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/11.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-mixed">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Mixed
                                </div>
                                <div class="project-name">
                                    <% @mixed_examples.each do |mixed_example| %>
                                        <span data-item-bin="<%= mixed_example.bin %>" data-item-id="<%= mixed_example.item_id %>"><%= mixed_example.name %><%= "," unless mixed_example == @mixed_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- OTHER -->
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="images/portfolio/thumbnails/12.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="filter-icon recycle-filter" data-filter-type="recycle">
                                <img src="images/filters/recycle_filter.png" class="recycle-filter-img img-responsive">
                            </div>
                            <div class="filter-icon compost-filter" data-filter-type="compost">
                                <img src="images/filters/compost_filter.png" class="compost-filter-img img-responsive">
                            </div>
                            <div class="filter-icon trash-filter" data-filter-type="trash">
                                <img src="images/filters/trash_filter.png" class="trash-filter-img img-responsive">
                            </div>
                            <div class="filter-icon special-filter" data-filter-type="special">
                                <img src="images/filters/pickup_filter.png" class="special-filter-img img-responsive">
                            </div>
                            <div class="info-icon" id="info-icon-id-other">
                                <img src="images/filters/info_icon.png" class="img-responsive">
                            </div>
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Other
                                </div>
                                <div class="project-name">
                                    <% @other_examples.each do |other_example| %>
                                        <span data-item-bin="<%= other_example.bin %>" data-item-id="<%= other_example.item_id %>"><%= other_example.name %><%= "," unless other_example == @other_examples.last %></span>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                 <!--  BIG SIDE BAR BULK -->
                <div class="big-side follow-scroll" id='big-side-id-bulk' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title">
                            About Bulk
                        </div>
                        <div class="big-side-details">
                            Did you know that most cities offer FREE curbside pickup for bulk items? 
                        </div>
                        <div class="bulk-donations">
                            Are your items still in good condition? Think about donating them to a local charity.
                            <div class="goodwill">
                            <a href="http://www.goodwill.org/" target="_blank">
                                <img src="images/logos/goodwill.png" class="img-responsive">
                            </a>
                            </div>
                            <div class="salvation-army">
                            <a href="http://www.salvationarmyusa.org/" target="_blank">
                                <img src="images/logos/salvation_army.png" class="img-responsive">
                            </a>
                            </div>
                        </div>
                        <div class="big-side-close" id="big-side-close-id-bulk" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-bulk").click(function() {
                        $('#big-side-close-id-bulk').show();
                        $("#big-side-id-bulk").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-bulk").click(function() {
                        $('#big-side-close-id-bulk').hide();
                        $("#big-side-id-bulk").animate({width: "0vw"});
                    });
                </script>
                <!-- BULK BAR SCROLLING -->
                <script>
                    var navTop = $('#big-side-id').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id').css('position', 'fixed');
                            $('#big-side-id').css('top', '0');
                        } else {
                            $('#big-side-id').css('position', 'absolute');
                            $('#big-side-id').css('top', navTop);
                        }
                    });
                </script>
                <!-- END BULK SCROLLING  -->
                <!-- END big side bar BULK -->
                 <!--  BIG SIDE BAR PLASTIC -->
                <div class="big-side" id='big-side-id-plastic' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-plastic">
                            Plastics
                        </div>
                        <div class="plastic-codes">
                            <div class="pcodes1">
                                <img src="images/learn/plastics/pcode1.png" class="img-responsive">
                            </div>
                            <div class="pcodes2">
                                <img src="images/learn/plastics/pcode2.png" class="img-responsive">
                            </div>
                            <div class="pcodes3">
                                <img src="images/learn/plastics/pcode1.png" class="img-responsive">
                            </div>
                            <div class="pcodes3">
                                <img src="images/learn/plastics/pcode3.png" class="img-responsive">
                            </div>
                            <div class="pcodes4">
                                <img src="images/learn/plastics/pcode4.png" class="img-responsive">
                            </div>
                            <div class="pcodes5">
                                <img src="images/learn/plastics/pcode5.png" class="img-responsive">
                            </div>
                            <div class="pcodes6">
                                <img src="images/learn/plastics/pcode6.png" class="img-responsive">
                            </div>
                            <div class="pcodes7">
                                <img src="images/learn/plastics/pcode7.png" class="img-responsive">
                            </div>
                        </div>
                        <div class="big-side-close" id="big-side-close-id-plastic" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-plastic").click(function() {
                        $('#big-side-close-id-plastic').show();
                        $("#big-side-id-plastic").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-plastic").click(function() {
                        $('#big-side-close-id-plastic').hide();
                        $("#big-side-id-plastic").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-plastic').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-plastic').css('position', 'fixed');
                            $('#big-side-id-plastic').css('top', '0');
                        } else {
                            $('#big-side-id-plastic').css('position', 'absolute');
                            $('#big-side-id-plastic').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar PLASTIC -->
                 <!--  BIG SIDE BAR PAPER -->
                <div class="big-side" id='big-side-id-paper' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-paper">
                            Paper + Cardboard
                        </div>
                        <div class="big-side-paper-process">
                            <img src="images/learn/paper/paper_process.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-paper" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-paper").click(function() {
                        $('#big-side-close-id-paper').show();
                        $("#big-side-id-paper").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-paper").click(function() {
                        $('#big-side-close-id-paper').hide();
                        $("#big-side-id-paper").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-paper').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-paper').css('position', 'fixed');
                            $('#big-side-id-paper').css('top', '0');
                        } else {
                            $('#big-side-id-paper').css('position', 'absolute');
                            $('#big-side-id-paper').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar PAPER -->
                 <!--  BIG SIDE BAR GLASS -->
                <div class="big-side" id='big-side-id-glass' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-glass">
                            Glass
                        </div>
                        <div class="big-side-glass-process">
                            <img src="images/learn/glass/glass_process.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-glass" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-glass").click(function() {
                        $('#big-side-close-id-glass').show();
                        $("#big-side-id-glass").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-glass").click(function() {
                        $('#big-side-close-id-glass').hide();
                        $("#big-side-id-glass").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-glass').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-glass').css('position', 'fixed');
                            $('#big-side-id-glass').css('top', '0');
                        } else {
                            $('#big-side-id-glass').css('position', 'absolute');
                            $('#big-side-id-glass').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar GLASS -->
                 <!--  BIG SIDE BAR OIL -->
                <div class="big-side" id='big-side-id-oil' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-oil">
                            Oil
                        </div>
                        <div class="big-side-oil-image">
                            <img src="images/learn/oil/oil.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-oil" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-oil").click(function() {
                        $('#big-side-close-id-oil').show();
                        $("#big-side-id-oil").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-oil").click(function() {
                        $('#big-side-close-id-oil').hide();
                        $("#big-side-id-oil").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-oil').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-oil').css('position', 'fixed');
                            $('#big-side-id-oil').css('top', '0');
                        } else {
                            $('#big-side-id-oil').css('position', 'absolute');
                            $('#big-side-id-oil').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar OIL -->
                 <!--  BIG SIDE BAR EWASTE -->
                <div class="big-side" id='big-side-id-ewaste' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-ewaste">
                            e-waste
                        </div>
                        <div class="big-side-ewaste-image">
                            <img src="images/learn/ewaste/ewaste.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-ewaste" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-ewaste").click(function() {
                        $('#big-side-close-id-ewaste').show();
                        $("#big-side-id-ewaste").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-ewaste").click(function() {
                        $('#big-side-close-id-ewaste').hide();
                        $("#big-side-id-ewaste").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-ewaste').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-ewaste').css('position', 'fixed');
                            $('#big-side-id-ewaste').css('top', '0');
                        } else {
                            $('#big-side-id-ewaste').css('position', 'absolute');
                            $('#big-side-id-ewaste').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar EWASTE -->
                 <!--  BIG SIDE BAR METAL -->
                <div class="big-side" id='big-side-id-metal' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-metal">
                            Metal
                        </div>
                        <div class="big-side-metal-process">
                            <img src="images/learn/metals/metal_process.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-metal" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-metal").click(function() {
                        $('#big-side-close-id-metal').show();
                        $("#big-side-id-metal").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-metal").click(function() {
                        $('#big-side-close-id-metal').hide();
                        $("#big-side-id-metal").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-metal').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-metal').css('position', 'fixed');
                            $('#big-side-id-metal').css('top', '0');
                        } else {
                            $('#big-side-id-metal').css('position', 'absolute');
                            $('#big-side-id-metal').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar METAL -->
                 <!--  BIG SIDE BAR PHARMA -->
                <div class="big-side" id='big-side-id-pharma' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-pharma">
                            Pharma
                        </div>
                        <div class="big-side-pharma-image">
                            <img src="images/learn/pharma/pharma.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-pharma" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-pharma").click(function() {
                        $('#big-side-close-id-pharma').show();
                        $("#big-side-id-pharma").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-pharma").click(function() {
                        $('#big-side-close-id-pharma').hide();
                        $("#big-side-id-pharma").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-pharma').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-pharma').css('position', 'fixed');
                            $('#big-side-id-pharma').css('top', '0');
                        } else {
                            $('#big-side-id-pharma').css('position', 'absolute');
                            $('#big-side-id-pharma').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar PHARMA -->
                <!--  BIG SIDE BAR ORGANIC -->
                <div class="big-side" id='big-side-id-organic' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-organic">
                            Oragnic
                        </div>
                        <div class="big-side-organic-image">
                            <img src="images/learn/compost/compost.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-organic" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-organic").click(function() {
                        $('#big-side-close-id-organic').show();
                        $("#big-side-id-organic").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-organic").click(function() {
                        $('#big-side-close-id-organic').hide();
                        $("#big-side-id-organic").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-organic').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-organic').css('position', 'fixed');
                            $('#big-side-id-organic').css('top', '0');
                        } else {
                            $('#big-side-id-organic').css('position', 'absolute');
                            $('#big-side-id-organic').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar ORGANIC -->
                 <!--  BIG SIDE BAR MIXED -->
                <div class="big-side" id='big-side-id-mixed' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-mixed">
                            Mixed
                        </div>
                        <div class="big-side-mixed-image">
                            <img src="images/learn/mixed/mixed_waste.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-mixed" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-mixed").click(function() {
                        $('#big-side-close-id-mixed').show();
                        $("#big-side-id-mixed").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-mixed").click(function() {
                        $('#big-side-close-id-mixed').hide();
                        $("#big-side-id-mixed").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-mixed').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-mixed').css('position', 'fixed');
                            $('#big-side-id-mixed').css('top', '0');
                        } else {
                            $('#big-side-id-mixed').css('position', 'absolute');
                            $('#big-side-id-mixed').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar MIXED -->
                 <!--  BIG SIDE BAR OTHER -->
                <div class="big-side" id='big-side-id-other' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-other">
                            Other
                        </div>
                        <div class="big-side-other-image">
                            <img src="images/learn/other/other.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-other" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-other").click(function() {
                        $('#big-side-close-id-other').show();
                        $("#big-side-id-other").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-other").click(function() {
                        $('#big-side-close-id-other').hide();
                        $("#big-side-id-other").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-other').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-other').css('position', 'fixed');
                            $('#big-side-id-other').css('top', '0');
                        } else {
                            $('#big-side-id-other').css('position', 'absolute');
                            $('#big-side-id-other').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar OTHER -->
                 <!--  BIG SIDE BAR HAZARD -->
                <div class="big-side" id='big-side-id-hazard' hidden>
                    <div class="big-side-content">
                        <div class="big-side-title-hazard">
                            Hazardous
                        </div>
                        <div class="big-side-hazard-image">
                            <img src="images/learn/hazard/hazard.png" class="img-responsive">
                        </div>
                        <div class="big-side-close" id="big-side-close-id-hazard" hidden>
                            Close
                        </div>
                    </div>
                </div>
                <script>
                    $("#info-icon-id-hazard").click(function() {
                        $('#big-side-close-id-hazard').show();
                        $("#big-side-id-hazard").animate({width: "80vw"});
                    });
                </script>
                <script>
                    $("#big-side-close-id-hazard").click(function() {
                        $('#big-side-close-id-hazard').hide();
                        $("#big-side-id-hazard").animate({width: "0vw"});
                    });
                </script>
                <script>
                    var navTop = $('#big-side-id-hazard').offset().top;

                    $(window).scroll(function(){
                        if ($(this).scrollTop() >= navTop) {
                            $('#big-side-id-hazard').css('position', 'fixed');
                            $('#big-side-id-hazard').css('top', '0');
                        } else {
                            $('#big-side-id-hazard').css('position', 'absolute');
                            $('#big-side-id-hazard').css('top', navTop);
                        }
                    });
                </script>
                <!-- END big side bar HAZARDOUS -->
            </div>
        </div>
    </section>
   <section class="some-padding" id="map">
        <div class="container">
            <h3>My Google Maps Demo</h3>
            <div id="map"></div>
            <script>
              function initMap() {
                var uluru = {lat: 34.099972, lng: -117.708281};
                var r_center_1 = {lat: 34.091373, lng: -117.700089};
                var r_center_2 = {lat: 34.108001, lng: -117.735477};
                var r_center_3 = {lat: 34.103936, lng: -117.686841};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  scrollwheel: false,
                  center: uluru,
                  mapTypeControl: false,
                  streetViewControl: false
                });
                var current = new google.maps.Marker({
                  position: uluru,
                  animation:google.maps.Animation.BOUNCE,
                  map: map
                });
                var center_1 = new google.maps.Marker({
                  position: r_center_1,
                  map: map
                });
                var center_2 = new google.maps.Marker({
                  position: r_center_2,
                  map: map
                });
                var center_3 = new google.maps.Marker({
                  position: r_center_3,
                  map: map
                });
                var infowindow_1 = new google.maps.InfoWindow({
                  content:"Premises Materials"
                });
                var infowindow_2 = new google.maps.InfoWindow({
                  content:"rePlanet Recycling"
                });
                var infowindow_3 = new google.maps.InfoWindow({
                  content:"Interstate All Battery Center"
                });
                google.maps.event.addListener(center_1, 'click', function() {
                  infowindow_1.open(map,center_1);
                });
                google.maps.event.addListener(center_2, 'click', function() {
                  infowindow_2.open(map,center_2);
                });
                google.maps.event.addListener(center_3, 'click', function() {
                  infowindow_3.open(map,center_3);
                });
              }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4piiBT9lv_CdqgsWiFBrPASbUyq2XZMI&callback=initMap"></script>
        </div>
    </section>
    <section class="some-padding" id="map-bar" style="padding-top: 50px">
        <div class="container">
            <div class="row">
                <div class="map-bar">
                    <div class="truck">
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                            <img src="images/filters/truck.png" class="img-responsive"></a>
                        <div id="light" class="white_content">To register for curbside pickup please call
                            <p>(909) 399-5431</p>
                            <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>THIS WILL BE ABOUT</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>